.popup__container {
  display: flex;
  flex-direction: column;
  width: 430px;
  height: 330px;
  background: #ffffff;
  border-radius: 10px;
  margin-top: 195px;
}

@media (max-width: 479px) {
  .popup__container {
    width: 282px;
    height: 322px;
    background: #ffffff;
    border-radius: 10px;
    margin-top: 123px;
  }
}