.profile__title {
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #ffffff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 294px;
}

@media (max-width: 727px) {
  .profile__title {
    font-size: 27px;
    line-height: 33px;
  }
}
