.profile__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-top: 16px;
  color: #ffffff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 336px;
}

@media (max-width: 727px) {
  .profile__subtitle {
    font-size: 14px;
    line-height: 17px;
    margin-top: 14px;
  }
}
