.popup__name {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin-top: 54px;
  margin-left: 36px;
}

@media (max-width: 479px) {
  .popup__name {
    margin-top: 75px;
    margin-left: 22px;
  }
}
