.button__add {
  border: 1px solid #ffffff;
  background-color: transparent;
  width: 150px;
  height: 50px;
  margin-top: 75px;
  margin-left: auto;
  margin-right: 200px;
  padding: 0;
  background-image: url('./../../../images/plus.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.button__add:hover {
  opacity: 0.6;
}

@media (max-width: 1023px) {
  .button__add {
    margin-right: 150px;
    width: 120px;
    height: 40px;
  }
}

@media (max-width: 767px) {
  .button__add {
    margin: 36px auto 0;
    width: 282px;
    height: 50px;
  }
}