.button__change {
  border: 1px solid #ffffff;
  background-color: transparent;
  width: 24px;
  height: 24px;
  margin-left: 18px;
  padding: 0;
}

@media (max-width: 767px) {
  .button__change {
    width: 18px;
    height: 18px;
  }
}
